* {
    box-sizing: border-box;

}
body {
    margin: 0;
    /* font family goes here work sans*/
}
nav {
    background: gray;
    height: 4.25em;
}
nav ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    height: inherit;
    align-items: center;

}
nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    padding: 5px;

}
nav a:hover {
    background: blue;
}
nav li{
    margin: .5em;
}
li:nth-child(6) {
    margin-left: auto;
}
.logo-item {
    font-size: 3em;
    font-family: "montserrat";
    position: absolute;
    height: inherit;

}